*
    box-sizing: border-box
    padding: 0
    margin: 0

html
    font-size: 62.5% // 10px for standart browser font size settings -> 
                    //  -> base to calculate rem

body
    font-family: $ff-sans-serif
    background-color: $color-body-bg

.container
    max-width: 1160px
    margin: 0 auto
    &__padding
        padding-left: 60px
        padding-right: 60px