/* VARIABLES =====================================================*/
/* Colors --------------------------------------------------------*/
$nice-page-bg:#F6F4F5
$nice-header-bg:#939778
$nice-header-text:#ffffffb3
$nice-nav-bg:#FFFFFF
$nice-nav-text:#2a2c1ff2
$nice-footer-bg: #FFFEFF
$nice-footer-text: #292823cc
$nice-credits-text: #29282399
$nice-credits-lines: #2928232d
$nice-bt-bg:#939778
$nice-bt-bg--accent:#cf6f49
$nice-bt-text:#ffffffe6
$nice-bt-text--transparent:#2a2c1ff2
$nice-input-text:#2a2c1ff2
$nice-input-text-placeholder: #2a2c1fbf
$nice-material-icons:#cf6f49
$nice-material-icons-bg: #fae8e1
$nice-card-bg:#FFFEFF

$nice-h1:#ffffffe6
$nice-h2:#292823
$nice-h2-p:#292823ec
$nice-h3: #292823
$nice-h3-p: #292823cc
$nice-h4: #292823
$nice-h4-p: #292823cc
$nice-h4-l: #29282380

/* Fonts---------------------------------------------------------*/

// Font Family
$ff-sans-serif: 'Noto Sans', sans-serif
$ff-display: 'Noto Sans Display', 'Noto Sans', sans-serif

// Font Size
$fs-smallest:10px
$fs-small:12px
$fs-normal:14px
$fs-normalbg:18px
$fs-normalbgbg:24px
$fs-largesm:30px
$fs-large:48px

// Font Weight
$fw-normal: 400
$fw-medium: 500
$fw-semibold: 600
$fw-bold: 700

// Line Spacing
$ls-normal: -0.05em
$ls-less: -0.03em
$ls-lessest: -0.01em

/* Borders ---------------------------------------------------------*/
$border-radius: 8px
$border: 1px solid #E7E8E3
$noborder:1px solid transparent

/* Shadows ---------------------------------------------------------*/
$nice-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08)

/* Grid ------------------------------------------------------------*/
$grid-template-columns: repeat(3, 1fr)
$column-gap: 1.5vw

/* Section Gaps ----------------------------------------------------*/
$between-sections: 5vh
$between-sections--afterheading: 5vh

/* Transitions -----------------------------------------------------*/
// Todo transitions and animations:
// Transitions
$nice-transition: border-color 200ms ease, background-color 200ms cubic-bezier(.77, 0, .175, 1)
$nice-card-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)
$nice-suggestions-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)

/* FONT STYLES =====================================================*/
.nice-h1
    color: $nice-h1
    font-family: $ff-display
    font-size: $fs-large
    font-weight: $fw-semibold
    line-height: 65px
    &-p
        color: $nice-h1
        font-family: $ff-sans-serif
        font-size: $fs-normal
        font-weight: $fw-semibold

.nice-h2
    color: $nice-h2
    font-family: $ff-display
    font-size: $fs-largesm
    font-weight: $fw-semibold
    line-height: 50px
    &-p
        color: $nice-h2-p
        font-family: $ff-display
        font-size: $fs-small
        font-weight: $fw-medium
        line-height: 16px
.nice-h3
    color: $nice-h3
    font-family: $ff-display
    font-size: $fs-normalbgbg
    font-weight: $fw-semibold
    letter-spacing: $ls-less
    &-p
        color: $nice-h3-p
        font-family: $ff-display
        font-size: $fs-small
        font-weight: $fw-medium
        line-height: 20px
    &-l
        color: $nice-h3-p
        font-family: $ff-sans-serif
        font-size: $fs-normal
        font-weight: $fw-medium
        letter-spacing: $ls-normal
        line-height: 1.2em


.nice-h4
    color: $nice-h4
    font-family: $ff-display
    font-size: $fs-normalbg
    font-weight: $fw-semibold
    &-p
        color: $nice-h4-p
        font-family: $ff-sans-serif
        font-size: $fs-small
        font-weight: $fw-normal
        line-height: 19px
    &-l
        color: $nice-h4-l
        font-family: $ff-display
        font-size: $fs-small
        font-weight: $fw-medium
        letter-spacing: $ls-normal
        line-height: 16px
        &--accent
            color: $nice-bt-bg--accent

/* USER CONTROL ELEMENTS STYLES ====================================*/

a
    text-decoration: none

.nice-bt
    background-color: $nice-bt-bg    
    min-height: 44px
    padding-left: 1em
    padding-right: 1em
    border: $noborder
    border-radius: $border-radius
    cursor: pointer
    color: $nice-bt-text
    font-family: $ff-display
    font-size: $fs-normal
    font-weight: $fw-medium
    letter-spacing: $ls-less
    transition: $nice-transition
    // @include button-transition-on-hover //TODO
    &:hover
        background-color: darken($nice-bt-bg,10%)
    &--transparent
        background: none
        border: $border
        color: $nice-bt-text--transparent
        font-weight: $fw-semibold
        box-shadow: $nice-shadow
    &--accent
        background-color: $nice-bt-bg--accent
        &:hover
            background-color: darken($nice-bt-bg--accent,10%)

.nice-input
    background: none
    min-height: 44px
    border: $border
    border-radius: $border-radius
    box-shadow: $nice-shadow
    font-family: $ff-display
    font-size: $fs-normal
    font-weight: $fw-medium
    letter-spacing: $ls-less
    color: $nice-input-text
    padding-left: 1em
    padding-right: 1em
    &::placeholder
        color: $nice-input-text-placeholder
    &:focus
        outline: $nice-bt-bg solid 1px

/* DECORATIVE ELEMENTS ====================================*/
.decorative
    position: relative
    img
        min-width: 50px // TODO allign responsively
        max-width: 10vw // TODO allign responsively
        max-height: 20vh // TODO allign responsively
    &--top-left
        position: absolute
        left: 0px
        top: 0px // TODO allign responsively -> in section margins
    &--bottom-right
        position: absolute
        right: 0px
        bottom: 0px // TODO allign responsively -> in section margins
    &--top-right
        position: absolute
        right: 0px
        top: 0px // TODO allign responsively -> in section margins
    &--bottom-left
        position: absolute
        left: 0px
        bottom: 0px // TODO allign responsively -> in section margins

/* PAGE SPACING ====================================================*/
*   // Remove default paddings and margins and set border-box size calculations
    box-sizing: border-box
    padding: 0
    margin: 0

.padding
    padding-left: 60px
    padding-right: 60px

.container
    max-width: 1160px
    margin: 0 auto

nav
    position: sticky
    top: 0
    z-index: 10

// TODO vertically align spaces between sections
.hero
    height: 60vh
    margin-bottom: $between-sections
.projects
    margin-bottom: $between-sections * 1.3
.about
    padding-top: $between-sections * 2
    margin-bottom: $between-sections * 4 

/* STYLES INDEX ======================================================*/
/* Body ---------------------------------------------------------*/
body
    font-family: $ff-sans-serif
    background-color: $nice-page-bg

/* Header ---------------------------------------------------------*/
header
    background-color: $nice-header-bg
    padding-top: 7px // TODO relative size?
    padding-bottom: 7px
.header
    // TODO smooth transition of sticky header
    display: flex
    justify-content: center
    &__text
        color: $nice-header-text
        font-size: $fs-normal
        font-weight: $fw-normal
        letter-spacing: $ls-normal
        line-height: 20px // Vertical alignment with social icons
        margin-right: 10px // Gap from social icons
    &__icons
        width: 80px
        display: inline-flex
        justify-content: space-between
        svg
            fill: white
            fill-opacity: 0.8
            &:hover
                fill-opacity: 0.9

/* Navigation bar ---------------------------------------------------------*/
nav
    background-color: $nice-nav-bg
    box-shadow: $nice-shadow
.navbar
    display: flex
    justify-content: space-between
    padding-top: 16px
    padding-bottom: 16px
    &__logo
        margin-top: 1px // TODO Vertical alignment with links
    &__links
        display: flex
        justify-content: flex-end
        flex-wrap: wrap
        text-align: right
        &__simple
            margin-top: 13px // TODO Vertical alignment with buttons
            a
                color: $nice-nav-text
                font-family: $ff-display
                font-size: $fs-normal
                font-weight: $fw-medium
                letter-spacing: $ls-lessest
                white-space: nowrap
                padding: 7px // TODO Size of clickable area
                margin: 3px
                // TODO animation on hover? - change color or make like a shadow-button?
            a:last-child // TODO remove margin for the last child in flex wrapped row
                margin-right: 0px
                padding-right: 0px
        &__buttons
            margin-left: 20px
            .nice-bt--transparent // Position phone icon
                position: relative
                svg
                    position: absolute
                    top: 10px
                span
                    margin-left: 22px
                &:hover
                    background-color: darken($nice-nav-bg,4%)
            .nice-bt--accent
                margin-left: 2px

/* Hero section ---------------------------------------------------------*/
.hero    
    // TODO choose image and set up overlays for nice looks
    // background: url('../img/hero.jpg')
    // background: url("../img/op1.jpg")
    // background: linear-gradient(rgba(107, 57, 37, 0.5), rgb(147,151,120,0.8)), url("../img/op1.jpg")
    // background: linear-gradient(rgba(107, 57, 37, 0.5), rgb(147,151,120,0.8)), url("../img/hero.jpg")
    background: url("../img/op1+.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    &__content
        margin:0 auto
        text-align: center
        h1
            padding-top: 20vh // TODO vertical allighnent

/* Projects section ---------------------------------------------------------*/
.projects
    &__intro
        .nice-h2-p
            max-width: 230px
        padding-bottom: $between-sections--afterheading // TODO vertical allighnent
    &__cards
        display: grid
        grid-template-columns: $grid-template-columns
        column-gap: $column-gap // TODO vertical allighnent
        row-gap: $column-gap // TODO horizontal allighnent

.card
    border-radius: $border-radius
    box-shadow: $nice-shadow
    height: 40vh // TODO set up size for different medias
    overflow: hidden
    position: relative
    // -webkit-font-smoothing: antialiased // TODO check about antialiasing
    &__image
        position: absolute
        top: 0px        
        width: 100%
        height: 70%
        background-image: url('../img/items/item-1/view_1.jpg')
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        transition: $nice-card-transition // TODO smooth transition
        &--item1 // TODO dynamically provide images
            background-image: url('../img/items/item-1/view_1.jpg')
        &--item2
            background-image: url('../img/items/item-2/view_1.jpg')
        &--item3
            background-image: url('../img/items/item-3/view_1.jpg')
        &--item4
            background-image: url('../img/items/item-4/view_1.jpg')
        &--item5
            background-image: url('../img/items/item-5/view_1.jpg')
        &--item6
            background-image: url('../img/items/item-6/view_1.jpg')
    &__description
        position: absolute
        bottom:0px
        height: 30%
        transition: $nice-card-transition
        background-color: $nice-card-bg
        padding: 7% 4% 7% 5%
        &__name
            margin-bottom: 8px
            margin-left: -1px // TODO visually allign
        &__note
            margin-bottom: 8px // TODO visually allign
        &__address
            margin-bottom: 8px // TODO visually allign
            position: relative
            margin-left: 18px
            svg
                position: absolute
                top: -1px // TODO visually allign
                left: -15px // TODO visually allign
        &__area
            margin-bottom: 8px // TODO visually allign so cards fit into and not too much empty space
            position: relative
            margin-left: 18px
            svg
                position: absolute
                top: 3px // TODO visually allign
                left: -16px // TODO visually allign
            &:after
                content: "\00a0\00a0m2" // TODO add JS superscript text m^2
        &__price
            position: relative
            margin-left: 18px
            svg
                position: absolute
                top: -1px // TODO visually allign
                left: -14px // TODO visually allign
            &:after
                content: "\00a0\00a0tỷ"
    &:hover .card__image
        height: 40%
    &:hover .card__description
        // background-color: pink
        height: 70%
        cursor: pointer

/* About company section ---------------------------------------------------------*/
.about
    // background-color: orange
    &__intro
        text-align: center
        padding-bottom: $between-sections--afterheading
        div
            width: 60%
            margin: 0 auto
        
    &__boxes
        display: grid
        grid-template-columns: $grid-template-columns
        column-gap: $column-gap
        row-gap: $column-gap

.box
    background-color: $nice-card-bg
    border-radius: $border-radius
    box-shadow: $nice-shadow
    padding: 7% 4% 7% 5% // TODO compare with project cards
    // height: 30vh // TODO set up max-min size for different medias
    text-align: center
    // overflow: hidden
    &__icon
        background-color: $nice-material-icons-bg
        display: inline-block
        border-radius: $border-radius
        margin-bottom: 1.3em
        span
            color: $nice-material-icons
            font-size: 32px
            width: 48px
            height: 48px
            display: flex
            align-items: center
            justify-content: center
    &__name
        // background-color: pink
        margin-bottom: 0.4em
    &__description
        // background-color: yellow

/* Footer ------------------------------------------------------*/
.footer
    background-color: $nice-footer-bg
    &__boxes
        display: grid
        grid-template-columns: $grid-template-columns
        column-gap: $column-gap
        padding-top: 4vh
        padding-bottom: 4vh
    .sociallinks
        &__icons
            display: inline-flex
            justify-content: space-between
            width: 110px
            padding-bottom: 14px // TODO allign vertically 
            svg
                fill-opacity: 1
                &:hover
                    fill-opacity: 0.8
        &__text
            color: $nice-footer-text
            font-family: $ff-sans-serif
            font-size: $fs-small
            font-weight: $fw-normal
            line-height: 1.4em
            width: 80% // TODO adjust split place
    .subscription
        &__title
            color: $nice-footer-text
            font-family: $ff-sans-serif
            font-size: $fs-small
            font-weight: 700
            padding-bottom: 7px // TODO allign vertically 
        &__conditions
            color: $nice-footer-text
            font-family: $ff-sans-serif
            font-size: $fs-small
            font-weight: $fw-normal
            line-height: 1.2em
            letter-spacing: $ls-less
            width: 80% // TODO adjust split place
            padding-bottom: 14px // TODO allign vertically 
        &__form
            width: 100%
            display: flex
            flex-wrap: wrap
            input
                flex: 1 1 auto
            button
                margin-left: 5px // TODO allign buttons within the page

.credits
    padding-top: 1.3vh
    padding-bottom: 1.3vh
    display: flex
    flex-direction: row
    justify-content: space-between
    &__text
        // TODO credits text on one line with links
        font-family: $ff-sans-serif
        font-size: $fs-smallest
        font-weight: $fw-normal
        letter-spacing: $ls-less
        color:$nice-credits-text
    &__links
        a
            font-family: $ff-sans-serif
            font-size: $fs-smallest
            font-weight: $fw-normal
            letter-spacing: $ls-less
            color:$nice-credits-text
            padding: 0px 10px
            &:not(:first-child)
                &:not(:last-child)
                    border-left: 0.05em solid $nice-credits-lines
                    border-right: 0.05em solid $nice-credits-lines


/* STYLES FOR ITEM PAGE ======================================================*/

/* About item section ---------------------------------------------------*/
$grid-gap: 1.9vw // TODO adjust and move variables to beginning
$row1-height: 60vh
$row2-height: 25vh

.about-item
    margin-top: $between-sections * 0.4
    margin-bottom: $between-sections
    &__grid
        display: grid
        gap: $grid-gap
        &--row1
            grid-template-columns: 1fr 1fr            
            margin-bottom: $grid-gap * 0.7
            .column1
                height: $row1-height
                border-radius: $border-radius
            .column2
            .map
                background-color: blue
                box-shadow: $nice-shadow
            .photos
                display: grid
                grid-template-columns: 1fr 1fr
                gap: $grid-gap * 0.5
                .image-box
                    background-color: blue
                    border-radius: $border-radius
                    box-shadow: $nice-shadow
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: center center
                    // TODO clickable images -> opens view mode with all images/videos
                    // TODO dynamically provide links for images
                    &--img1
                        background-image: url('../img/items/item-1/view_1.jpg')
                    &--img2
                        background-image: url('../img/items/item-1/view_2.jpg')
                    &--img3
                        background-image: url('../img/items/item-1/view_3.jpg')
                    &--img4
                        background-image: url('../img/items/item-1/view_4.jpg')
        &--row2
            grid-template-columns: 2fr 1fr // TODO adjust
            .column1
                min-height: $row2-height
                // max-height: 60vh
            .description
                background-color: $nice-card-bg
                border-radius: $border-radius                
                box-shadow: $nice-shadow
                padding: 20px 40px 20px 30px
                .heading
                    margin-bottom: 0.7em
                .par
                    margin-bottom: 0.4em
                .list
                    padding-left: 2em
                    margin-bottom: 0.4em
                    list-style-position: outside
                    text-align: left
                    list-style-type: disc
            .sidebar
                background-color: $nice-card-bg
                border-radius: $border-radius
                box-shadow: $nice-shadow
                padding: 35px 40px 20px 50px // TODO adjust values -> 
                .parameters-table
                    display: flex
                    flex-direction: column                    
                    .row
                        padding-bottom: 12px
                        position: relative                   
                    svg
                        position: absolute
                        // background-color: orange
                        path
                            fill: #383a2d
                            fill-opacity: 0.5
                        // left: -7%
                    &__address // TODO adjust positions of svg icons and fonts
                        // color: red
                        svg
                            left: -1.4em
                            top: 0.4em
                    &__area
                        // color: red
                        svg
                            left: -1.45em
                            top: 0.2em
                    &__size
                        .height
                            // color: red
                            display: inline-block
                            padding-right: 20px
                            svg
                                left: -1.45em
                                top: 0.2em
                        .width
                            // color: red
                            display: inline-block
                            position: relative
                            svg
                                left: -1.1em
                                top: 0.25em                    
                    &__papers
                        // color: red
                        svg
                            left: -1.45em
                            top: 0.2em
                    &__direction
                        // color: red
                        svg
                            left: -1.45em
                            top: 0.2em
                    &__price
                        // color: red
                        svg
                            left: -1.45em
                            top: 0.2em
                            path
                                fill: $nice-bt-bg--accent
                    &__link
                        // color: red
                        margin-top: 12px
                        svg
                            left: 6.5em
                            top: 0.2em
                            path
                                fill: $nice-bt-bg--accent
                                fill-opacity: 0.8 // TODO animate arrows on hover- make bigger, change color and move
                            

/* Suggestion cards section ------------------------------------------------*/

$suggestions-width: min(100vw - 120px, 1160px)

.suggestions
    margin-bottom: $between-sections
    &__cards
        overflow: hidden
        .scrolling-wrapper
            padding-top: $between-sections--afterheading
            transition: $nice-suggestions-transition
            &__content
                .scrolling-wrapper-grid
                    display: grid
                    grid-auto-flow: column
                    grid-auto-columns: calc($suggestions-width/3 - $grid-gap * 2/3)
                    gap: $grid-gap // TODO overall allignment
                    // grid-template-rows: 100px                    
                    overflow: visible
        .scrolling-controls
            display: flex
            justify-content: right
            align-items: center
            margin-top: $between-sections--afterheading // TODO allignment            
            svg
                cursor: pointer
                transition: $nice-card-transition // TODO set transitions
            #arrow-right
                margin-left: 30px // TODO animate arrows

.blocked
    // background-color: magenta

.start
    margin-left: 0%
    width: 100%
.moveleft
    margin-left: calc(0px - $suggestions-width - $grid-gap)
.moveleft-2
    margin-left: calc(0px - $suggestions-width * 2 - $grid-gap * 2)

// Temporary cards
.card-test
    background-color: yellow
    height: 100px

/* STYLES FOR MAP PAGE ======================================================*/
.map
    // margin-top: $between-sections / 2
    // margin-bottom: $between-sections / 2
    margin: $between-sections / 2
    &__content
        background-color: #88121220
        width: 100%
        height: 75vh
        border-radius: $border-radius
        box-shadow: $nice-shadow

/* STYLES FOR ERROR PAGE ======================================================*/
.error
    padding-top: max(30px, 20vh)
    padding-bottom: max(30px, 20vh)
    text-align: center    
    .messsage-box
        margin: 0 auto
        background-color: $nice-card-bg
        border-radius: $border-radius
        box-shadow: $nice-shadow
        width: min(35vw, 600px)
        padding: 50px
        .heading
            padding-bottom: 10px
        .message-text
            padding-bottom: 24px