/* Colors ---------------------------------------------------------*/
$orange:#cf6f49;
$green: #939778;

$white: #FFFFFF;
$white-darker-1: #FFFEFF;
$white-darker-2: #F6F4F5;

$grey-1:#e7e8e3;
$grey-2:#fae8e1;

$black: #292823;
$black-green: #2a2c1f;
$green-black: #383a2d;  // TODO adjust

/* Colors assignments by components and sections ----------------------------*/

$color-body-bg: $white-darker-2;

$color-banner-bg: $green;
// $color-banner-text: rgba($white, 0.7);

$color-navbar-bg: $white;
// $color-navbar-text:rgba($black-green, 0.949);

// $color-footer-bg: $white-darker-1;
$color-footer-text: rgba($black, 0.8);

$color-credits-text: rgba($black, 0.6);
$color-credits-bars: rgba($black, 0.176);

$color-project-card-bg: $white-darker-1;
$color-box-bg: $white-darker-1;

$color-btn-bg:$green;
// $color-btn-bg--accent:$orange;
// $color-btn-text:rgba($white, 0.9);
// $color-btn-text--transparent:rgba($black-green, 0.949);

$color-input-text: rgba($black-green, 0.949);
$color-input-text-placeholder: rgba($black-green, 0.749);

$color-dropdown-bg: rgba($white, 0.7);

$color-slider-label:rgba($black-green, 0.851);
$color-slider-tooltip:rgba($black-green, 0.749);

$color-material-icon: $orange;
$color-material-icon-bg: $grey-2;

$color-svg-icon: $green-black; // TODO rename

$color-tag: $grey-1;
$color-accent: $orange;

/* Fonts -----------------------------------------------------------*/
$ff-sans-serif: 'Noto Sans', sans-serif;
$ff-display: 'Noto Sans Display', 'Noto Sans', sans-serif;

/* Gutter and sizes  -----------------------------------------------*/
$main-container-width: 1160px;
$main-container-padding: 60px;

$banner-height: 3rem;
$navbar-height: 6.5rem;

$gap-between-sections: 5vh; // TODO adjust
$gap-within-sections: $gap-between-sections * .6; // TODO adjust

$gutter-within-sections: 3vh;
$gutter-within-sections--large: 6vh;

/* Grids -----------------------------------------------------------*/
$grid-x3-template-columns: repeat(3, 1fr); // TODO adjust -> remove
$grid-x3-column-gap: 1.5vw; // TODO adjust -> remove
$grid-x3-row-gap: 1.5vw; // TODO adjust -> remove

$gutter-columns-large: 3rem; // TODO adjust depending on 1160 or smaller -> calc relative
$gutter-columns-medium: 2rem; // TODO adjust depending on 1160 or smaller -> calc relative
$gutter-columns-small: 1.2rem; // TODO adjust depending on 1160 or smaller -> calc relative


/* Shadows ---------------------------------------------------------*/
$nice-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

/* Borders ---------------------------------------------------------*/
$border-radius: 8px;
$border-solid: 1px solid #E7E8E3;
$border-none: 1px solid transparent;

$card-padding: 7% 4% 7% 4%; // % relative to size of element's parent

/* Section gaps ----------------------------------------------------*/


/* Transitions -----------------------------------------------------*/
$nice-card-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) .0s; // TODO make transitions
$nice-transition: border-color 200ms ease, background-color 200ms cubic-bezier(.77, 0, .175, 1); // TODO button transitions
$nice-suggestions-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); // TODO make transitions

// $nice-button-transition: all .2s, background-color .2s cubic-bezier(.77, 0, .175, 1)
$nice-button-transition: all .2s;
$nice-dropdown-transition: .2s ease;