/* Colors ---------------------------------------------------------*/
$color-body-bg:#F6F4F5;

$color-banner-bg:#939778;
$color-banner-text:#ffffffb3;

$color-navbar-bg:#FFFFFF;
$color-navbar-text:#2a2c1ff2;

$color-btn-bg:#939778;
$color-btn-bg--accent:#cf6f49;
$color-btn-text:#ffffffe6;
$color-btn-text--transparent:#2a2c1ff2;

/* Fonts -----------------------------------------------------------*/
$ff-sans-serif: 'Noto Sans', sans-serif;
$ff-display: 'Noto Sans Display', 'Noto Sans', sans-serif;

/* Shadows ---------------------------------------------------------*/
$nice-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

/* Borders ---------------------------------------------------------*/
$border-radius: 8px;
$border-solid: 1px solid #E7E8E3;
$border-none: 1px solid transparent;