.error-message
    height: calc(100vh - #{$banner-height} - #{$navbar-height})
    text-align: center
    position: relative
    &__box
        @include position-center
        min-width: 40%
        max-width: 60%
        background-color: $white-darker-1
        border-radius: $border-radius
        box-shadow: $nice-shadow
        padding: 5rem
    &__heading
        padding-bottom: 1rem
    &__description
        padding-bottom: 2.4rem
