$grid-x2-column-gap: $grid-x3-column-gap * 2/3
$grid-x2-row-gap: $grid-x3-row-gap * 2/3
$grid-x4-column-gap: $grid-x2-column-gap / 2
$grid-x4-row-gap: $grid-x2-row-gap / 2

.item
    margin-top: $grid-x3-row-gap    // TODO adjust gaps and positioning of boxes
    margin-bottom: $gap-between-sections // TODO adjust gaps and positioning of boxes
    &__grid
        display: grid
        gap: $grid-x2-column-gap   // TODO adjust gaps and positioning of boxes
        &--row1
            grid-template-columns: 1fr 1fr
            margin-bottom: $grid-x2-row-gap
            &--cell1
                height: 60vh               // TODO adjust gaps and positioning of boxes
                border-radius: $border-radius
                box-shadow: $nice-shadow
            &--cell2
        &--row2
            grid-template-columns: 2fr 1fr // TODO adjust gaps and positioning of boxes
            &--cell1
                min-height: 25vh           // TODO adjust gaps and positioning of boxes
                border-radius: $border-radius
                box-shadow: $nice-shadow
            &--cell2
                border-radius: $border-radius
                box-shadow: $nice-shadow
    &__mini-map
        background-color: yellow // TODO add map
    &__photos
        display: grid
        grid-template-columns: 1fr 1fr
        gap: $grid-x4-column-gap            // TODO adjust gaps and positioning of boxes
        .photo-box
            background-size: cover
            background-repeat: no-repeat
            background-position: center center
            border-radius: $border-radius
            box-shadow: $nice-shadow
            // TODO clickable images -> opens view mode with all images/videos
            // TODO dynamically provide links for images
            &--img1
                background-image: url('../img/items/item-1/view_1.jpg')
            &--img2
                background-image: url('../img/items/item-1/view_2.jpg')
            &--img3
                background-image: url('../img/items/item-1/view_3.jpg')
            &--img4
                background-image: url('../img/items/item-1/view_4.jpg')
    &__description
        background-color: $color-box-bg
        .description-box
            padding: 2rem 4rem 2rem 3rem // TODO adjust text paddings and positions
            &__heading
                margin-bottom: 1rem
            &__p
                margin-bottom: .7rem
            &__l
                margin-bottom: .7rem
                padding-left: 2.4rem
                list-style-type: disc
    &__sidebar
        background-color: $color-box-bg
        .sidebar
            padding: 3.5rem 4rem 2rem 5rem // TODO adjust text paddings and positions
            // background-color: red
            &__row
                padding-bottom: 1.2rem
                position: relative
            svg
                position: absolute
                // background-color: orange
                path
                    fill: $color-svg-icon
                    fill-opacity: .5
            &__address // TODO adjust positions of svg icons and fonts
                svg
                    left: -1.4em
                    top: .4em
            &__area
                svg
                    left: -1.45em
                    top: .2em
            &__height
                display: inline-block
                padding-right: 4rem
                svg
                    left: -1.45em
                    top: 0em
            &__width
                display: inline-block
                position: relative
                svg
                    left: -1.3em
                    top: .3em
            &__papers
                svg
                    left: -1.45em
                    top: 0em
            &__direction
                svg
                    left: -1.45em
                    top: 0.0em
            &__price
                svg
                    left: -1.45em
                    top: -0.1em
                    path
                        fill: $color-accent
            &__link
                margin-top: 1.2rem
                position: relative
                svg
                    left: 6.5em
                    top: 0.2em
                    path
                        fill: $color-accent
                        fill-opacity: 0.8 // TODO animate arrows on hover- make bigger, change color and move


.suggestions
    margin-bottom: $gap-between-sections
    &__cards
        overflow: hidden
        .scrolling-wrapper
            padding-top: $gap-within-sections
            transition: $nice-suggestions-transition
            &__content
            &__grid
                display: grid
                grid-auto-flow: column
                grid-auto-columns: unquote('calc(min(100vw - 120px, 1160px) / 3 - 1.5vw * 2/3 * 2/3)')
                gap: 1.5vw * 2/3
                overflow: visible
        .scrolling-controls
            display: flex
            justify-content: right
            align-items: center
            margin-top: $gap-within-sections
            svg
                cursor: pointer
                transition: $nice-card-transition // TODO set transitions
            #arrow-right
                margin-left: 3rem // TODO animate arrows

.moveleft
    transform: unquote('translateX(calc(min(100vw - 120px, 1160px) * (-1) - 1.5vw * 2/3))')
.moveleft-2
    transform: unquote('translateX(calc(min(100vw - 120px, 1160px) * (-2) - 1.5vw * 2/3 * 2))')

.blocked
    // background-color: orange
.card-test
    background-color: orange