.item
    &__intro // Breadcrumps line
        margin-top: $gutter-vertical--medium
        margin-bottom: $gutter-vertical--medium * 0.7 // TODO adjust

    // First row
    &__visual-info
        margin-bottom: $gutter-vertical--large * 0.7 // TODO adjust
    &__mini-map
        background-color: #c27996ad // TODO add map
        border-radius: $border-radius
        box-shadow: $nice-shadow
    &__photos
    &__photo-wrapper
        border-radius: $border-radius
        box-shadow: $nice-shadow
        overflow: hidden
        cursor: pointer
        img
            width: 100%
            height: 100%
            object-fit: cover
        // TODO clickable images -> opens view mode with all images/videos

    // Second row
    // 2x 1x columns widths:
    $col-width-1x: calc((100% - #{$gutter-columns-medium} * 2) / 3)
    $col-width-2x: calc(100% - #{$col-width-1x} - #{$gutter-columns-medium})

    &__text-info
        display: grid
        grid-template-columns: $col-width-2x $col-width-1x
        gap: $gutter-columns-medium
        margin-bottom: $gutter-vertical--large

    &__description
        background-color: $color-box-bg
        border-radius: $border-radius
        box-shadow: $nice-shadow
        padding: 2rem 4rem 2rem 3rem // TODO adjust text paddings and positions
        .description-box
            &__heading
                margin-bottom: 1rem
            &__p
                margin-bottom: .7rem
            &__l
                margin-bottom: .7rem
                padding-left: 2.4rem
                list-style-type: disc
    &__sidebar
        background-color: $color-box-bg
        border-radius: $border-radius
        box-shadow: $nice-shadow
        padding: 2.5rem 4rem 2rem 4.2rem // TODO adjust text paddings and positions

.suggestions
    margin-bottom: $gutter-vertical--large
    &__cards
        overflow: hidden
        .scrolling-wrapper
            padding-top: $gutter-vertical--medium
            transition: $nice-suggestions-transition
            &__content
            &__grid
                display: grid
                grid-auto-flow: column
                grid-auto-columns: calc((min(100vw - #{$main-container-padding} * 2, #{$main-container-width}) - #{$gutter-columns-medium} * 2)/3)
                grid-template-rows: 25rem // TODO adjust height
                gap: $gutter-columns-medium
                overflow: visible
        .scrolling-controls
            display: flex
            justify-content: right
            align-items: center
            margin-top: $gap-within-sections
            svg
                cursor: pointer
                transition: $nice-card-transition // TODO set transitions
            #arrow-right
                margin-left: 3rem // TODO animate arrows

.moveleft
    transform: translateX(calc(-1 * (min(100vw - #{$main-container-padding} * 2, #{$main-container-width}) + #{$gutter-columns-medium})))

.moveleft-2 // TODO remove hardcoded values
    transform: translateX(calc(-2 * (min(100vw - #{$main-container-padding} * 2, #{$main-container-width}) + #{$gutter-columns-medium})))

// .blocked
    // background-color: orange
