@charset "UTF-8";
/* Colors ---------------------------------------------------------*/
/* Colors assignments by components and sections  REMOVE----------------------------*/
/* Fonts -----------------------------------------------------------*/
/* Gutters and sizes  -----------------------------------------------*/
/* REMOVE: -----------------------------------------------------------*/
/* Shadows ---------------------------------------------------------*/
/* Borders ---------------------------------------------------------*/
/* Transitions -----------------------------------------------------*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #F6F4F5; }
  @media (min-width: 112.5em) {
    body {
      background-color: #dcaf3b; } }
  @media (max-width: 75em) {
    body {
      background-color: #36ab70; } }
  @media (max-width: 56.25em) {
    body {
      background-color: #945a82; } }
  @media (max-width: 37.5em) {
    body {
      background-color: #5a7994; } }

.container {
  max-width: 1160px;
  margin: 0 auto; }
  .container__padding {
    padding-left: 60px;
    padding-right: 60px; }

::selection {
  background-color: #cf6f49;
  color: #FFFFFF; }

.nice-h1 {
  color: #ffffffe6;
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6.5rem; }
  .nice-h1-p {
    color: #ffffffe6;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 600; }

.nice-h2 {
  color: #292823;
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 5rem; }
  .nice-h2-p {
    color: #292823ec;
    font-family: "Noto Sans Display", "Noto Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem; }

.nice-h3 {
  color: #292823;
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -.03em; }
  .nice-h3-p {
    color: #292823cc;
    font-family: "Noto Sans Display", "Noto Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem; }
  .nice-h3-l {
    color: #292823cc;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -.05em;
    line-height: 1.2em; }

.nice-h4 {
  color: #292823;
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600; }
  .nice-h4-p {
    color: #292823cc;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.9rem; }
  .nice-h4-l {
    color: #29282380;
    font-family: "Noto Sans Display", "Noto Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -.05em;
    line-height: 16px; }
    .nice-h4-l--accent {
      color: #cf6f49; }

.u-center {
  text-align: center !important; }

.agent-card {
  background-color: #FFFEFF;
  border: 1px solid #E7E8E3;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  overflow: hidden;
  height: 30rem; }
  .agent-card__photo {
    width: 50%; }
    .agent-card__photo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .agent-card__info {
    width: 50%;
    padding: 8% 6%; }
  .agent-card__name {
    padding-bottom: 1.4rem; }
  .agent-card__title {
    padding-bottom: 0.4rem;
    font-size: 1.2rem; }
  .agent-card__text {
    width: 95%; }
    .agent-card__text:not(:last-child) {
      padding-bottom: 0.4rem; }

.arrow {
  cursor: pointer; }
  .arrow__icon {
    opacity: .75;
    font-size: 1.7em;
    position: relative;
    transition: transform .2s; }
    .arrow__icon--right {
      float: right;
      top: -0.12em;
      right: .9em; }
  .arrow:hover .arrow__icon {
    transform: translate(0.8em, 0em) scale(1.1); }

.middle-arrow__icon {
  opacity: .75;
  font-size: 1.6em;
  transform: translateY(0.24em);
  margin-left: -.2em;
  margin-right: -.2em; }

.nice-btn {
  height: 4.4rem;
  padding: 0 .8rem;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  background-color: #939778;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s; }
  .nice-btn--transparent {
    background: none;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    color: rgba(42, 44, 31, 0.949);
    font-weight: 600; }
  .nice-btn--accent {
    background-color: #cf6f49; }
  .nice-btn--call {
    position: relative; }
  .nice-btn--call .nice-btn__icon--call {
    position: absolute;
    top: 1.15rem;
    left: .8rem;
    display: inline-block;
    height: 2.1rem; }
    .nice-btn--call .nice-btn__icon--call svg {
      width: 100%;
      height: 100%;
      fill: rgba(42, 44, 31, 0.949); }
  .nice-btn--call .nice-btn__text--call {
    margin-left: 2.1rem; }
  .nice-btn:hover {
    background-color: #797c60;
    transform: translateY(-0.1rem);
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.1); }
  .nice-btn:active {
    transform: translateY(-0.04rem);
    box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1); }
  .nice-btn--transparent:hover {
    background: none; }
  .nice-btn--accent:hover {
    background-color: #bd5932; }

.decorative {
  position: relative; }
  .decorative img {
    min-width: 50px;
    max-width: 10vw;
    max-height: 20vh; }
  .decorative__top-left {
    position: absolute;
    left: 0;
    top: 0; }
  .decorative__bottom-right {
    position: absolute;
    right: 0;
    bottom: 0; }
  .decorative__top-right {
    position: absolute;
    right: 0;
    top: 0; }
  .decorative__bottom-left {
    position: absolute;
    left: 0;
    bottom: 0; }

.dropdown {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: rgba(42, 44, 31, 0.85); }
  .dropdown__current {
    position: relative;
    cursor: pointer; }
  .dropdown__value__text {
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    padding: 1.4rem 1rem; }
    .dropdown__value__text--default {
      color: rgba(42, 44, 31, 0.55); }
  .dropdown__value__radio-input {
    width: 100px;
    display: none; }
    .dropdown__value__radio-input:checked + .dropdown__value__text {
      display: block; }
  .dropdown__arrow-icon {
    position: absolute;
    top: 30%;
    left: 80%; }
    .dropdown__arrow-icon img {
      width: 2rem;
      height: 2rem;
      opacity: 0.7;
      transition: 0.2s ease; }
  .dropdown__current:focus + .dropdown__list {
    opacity: 1 !important; }
    .dropdown__current:focus + .dropdown__list .dropdown__list__option {
      cursor: pointer; }
  .dropdown__current:focus .dropdown__arrow-icon img {
    transform: rotate(180deg); }
  .dropdown__list {
    opacity: 0;
    cursor: none;
    margin-top: .2rem;
    transition: 0.2s ease; }
    .dropdown__list__option {
      display: block;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 1.4rem 1rem; }
      .dropdown__list__option:hover, .dropdown__list__option:focus {
        background-color: rgba(255, 255, 255, 0.3); }
      .dropdown__list__option--first {
        border-radius: .8rem .8rem 0 0; }
      .dropdown__list__option--last {
        border-radius: 0 0 .8rem .8rem; }
      .dropdown__list__option--default {
        color: rgba(42, 44, 31, 0.55); }

.subscription-form {
  color: rgba(41, 40, 35, 0.8);
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem; }
  .subscription-form__title {
    font-weight: 700;
    padding-bottom: .7rem; }
  .subscription-form__description {
    font-weight: 400;
    line-height: 1.4em;
    width: 90%;
    padding-bottom: 1.4rem; }
  .subscription-form__input {
    display: flex;
    flex-wrap: wrap; }
    .subscription-form__input input {
      flex: 1 1 auto;
      margin-right: .5rem; }
    .subscription-form__input button {
      padding-left: 1.2rem;
      padding-right: 1.2rem; }

.search-form__intro {
  width: 100%; }

.search-form__tag {
  padding: .35rem .85rem .35rem;
  background-color: #e7e8e3;
  border-radius: 3.2rem;
  display: inline-block; }

.search-form__text {
  padding-bottom: 8%; }

.search-form__label {
  display: inline-block;
  width: 10rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: rgba(42, 44, 31, 0.851); }

.search-form__slider {
  margin-bottom: 3.2rem; }
  .search-form__slider .slider {
    display: inline-block;
    width: 50%; }
  .search-form__slider .noUi-target {
    background-color: #E8E8E4;
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: 1rem; }
  .search-form__slider .noUi-connect {
    background-color: #939778; }
  .search-form__slider .noUi-handle {
    background-color: #939778;
    border: none;
    box-shadow: none;
    height: 2rem;
    width: 2rem;
    top: -.5rem;
    right: -1rem;
    border-radius: .8rem;
    cursor: pointer; }
    .search-form__slider .noUi-handle::before, .search-form__slider .noUi-handle::after {
      display: none; }
    .search-form__slider .noUi-handle:active {
      outline: solid 0.5rem rgba(147, 151, 120, 0.6); }
  .search-form__slider .noUi-tooltip {
    border: none;
    padding: 0;
    background-color: #F6F4F5;
    bottom: -3.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.05em;
    color: rgba(42, 44, 31, 0.749); }
  .search-form__slider #slider-area .noUi-tooltip::after {
    content: "\00a0m"; }
  .search-form__slider #slider-area .noUi-tooltip::before {
    content: "2";
    position: absolute;
    right: -.6rem;
    top: -.3rem;
    font-size: 1rem; }
  .search-form__slider #slider-price .noUi-tooltip::after {
    content: "\00a0tỷ"; }

.search-form__dropdown {
  position: relative; }
  .search-form__dropdown .search-form__label {
    margin-right: 40%; }
  .search-form__dropdown .dropdown {
    position: absolute;
    top: 0;
    left: 9.5rem;
    width: 40%; }

.call-form {
  max-width: 116rem;
  min-width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .call-form__left {
    margin: 4rem 5rem; }
  .call-form__intro {
    padding-left: .3rem; }
  .call-form__heading {
    line-height: 1.3em;
    margin-bottom: 1rem;
    font-size: 2.5em; }
  .call-form__text {
    margin-bottom: .8rem; }
  .call-form__input {
    width: 100%; }
    .call-form__input div {
      margin-bottom: 2.3rem; }
      .call-form__input div input {
        width: 100%;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08); }
      .call-form__input div textarea {
        width: 100%;
        height: 6em;
        padding-top: 1.2rem;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08); }
    .call-form__input button {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08); }
  .call-form__image {
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.info-box {
  background-color: #FFFEFF;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform .2s; }
  .info-box__content {
    padding: 7% 4% 7% 4%; }
  .info-box__icon {
    background-color: #fae8e1;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 1.3em; }
    .info-box__icon span {
      color: #cf6f49;
      font-size: 3.2rem;
      width: 4.8rem;
      height: 4.8rem;
      display: flex;
      align-items: center;
      justify-content: center; }
  .info-box__name {
    margin-bottom: 0.4em; }
  .info-box__contact {
    text-decoration: underline; }
    .info-box__contact--address {
      text-decoration: none; }
  .info-box:hover {
    transform: scale(1.04) translate(0, -0.4rem); }

.nice-input {
  position: relative; }
  .nice-input__input {
    background: none;
    min-height: 4.4rem;
    border: 1px solid #E7E8E3;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    font-family: "Noto Sans Display", "Noto Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: rgba(42, 44, 31, 0.949);
    padding-left: 1em;
    padding-right: 1em; }
    .nice-input__input::placeholder {
      color: rgba(42, 44, 31, 0.749); }
    .nice-input__input:focus {
      outline: #939778 solid 1px; }
    .nice-input__input:focus:invalid {
      outline: #cf6f49 solid 1px; }
  .nice-input__label {
    position: absolute;
    bottom: -1.5rem;
    left: 1%;
    display: block;
    padding-left: 1em;
    transition: all .3s; }
  .nice-input__input:placeholder-shown + .nice-input__label,
  .nice-input__input:not(:focus) + .nice-input__label {
    bottom: 40%;
    opacity: 0;
    visibility: hidden; }

.land-parameters > div:not(:last-child) {
  margin-bottom: 1em; }

.land-parameters [class^="land-"] {
  position: relative; }

.land-parameters [class^="material-"] {
  font-size: 1.2em;
  position: absolute;
  top: 0;
  left: -1.35em;
  display: inline-block; }

.land-parameters .land-location__icon {
  transform: translate(0em, 0em); }

.land-parameters .land-location__text::before {
  content: "Địa chỉ: \00a0"; }

.land-parameters .land-area__icon {
  transform: translate(0.07em, 0em); }

.land-parameters .land-area__text::before {
  content: "Điện tích: \00a0"; }

.land-parameters .land-area__text::after {
  content: " m\00B2"; }

.land-parameters .land-height {
  display: inline-block; }
  .land-parameters .land-height__icon {
    transform: rotate(90deg) translate(-0.05em, 0.05em); }
  .land-parameters .land-height__text::before {
    content: "Chiều dài: \00a0"; }

.land-parameters .land-width {
  display: inline-block;
  margin-left: 3em; }
  .land-parameters .land-width__icon {
    transform: translate(-0.05em, 0.05em); }
  .land-parameters .land-width__text::before {
    content: "Chiều ngang: \00a0"; }

.land-parameters .land-papers__text::before {
  content: "Giấy tờ pháp lý: \00a0"; }

.land-parameters .land-direction__icon {
  transform: translate(0em, 0.01em); }

.land-parameters .land-direction__text::before {
  content: "Hướng cửa chính: \00a0"; }

.land-parameters .land-price {
  color: #cf6f49; }
  .land-parameters .land-price__icon {
    transform: translate(0em, 0.05em); }
  .land-parameters .land-price__text::before {
    content: "Giá: \00a0"; }
  .land-parameters .land-price__text::after {
    content: " tỷ"; }

.project-card {
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative; }
  .project-card__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
    .project-card__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 40%; }
  .project-card__description {
    position: absolute;
    bottom: 0;
    height: 5.6rem;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    background-color: #FFFEFF;
    padding: 2.2rem 2.7rem;
    cursor: pointer; }
  .project-card__name {
    margin-bottom: 1.2rem;
    margin-left: -.1rem; }
  .project-card__note {
    margin-bottom: .8rem; }
  .project-card__parameters {
    margin-left: 1.9rem; }
    .project-card__parameters > div:not(:last-child) {
      margin-bottom: .4rem; }
  .project-card:hover .project-card__image {
    height: 60%; }
  .project-card:hover .project-card__description {
    height: 16rem;
    cursor: pointer; }

.search-card {
  background-color: #FFFEFF;
  padding: .8rem;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  margin-bottom: 1.5vh;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 30rem;
  gap: 2%; }
  .search-card__info {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer; }
  .search-card__name {
    margin-bottom: 0.8rem;
    width: 90%; }
  .search-card__description {
    width: 85%;
    margin-bottom: 0.8rem; }
  .search-card .land-parameters {
    width: 60%;
    margin-left: 2rem; }
    .search-card .land-parameters > div:not(:last-child) {
      margin-bottom: 0.5em; }
    .search-card .land-parameters .land-price {
      position: absolute;
      left: 68%;
      bottom: 8%; }
  .search-card__photo-carousel {
    display: flex;
    justify-content: space-between; }
    .search-card__photo-carousel .main-splide {
      width: 78%; }
    .search-card__photo-carousel .thumbnail-splide {
      width: 20%; }

.main-splide {
  border-radius: 8px;
  overflow: hidden; }
  .main-splide .splide__arrows .splide__arrow {
    display: none;
    width: 3rem;
    min-height: 3rem;
    border-radius: 8px;
    background-color: #E8E8E4; }
    .main-splide .splide__arrows .splide__arrow:hover:disabled {
      cursor: default; }
  .main-splide .splide__track .splide__list .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; }
  .main-splide .splide__track .splide__list .splide__slide video {
    background-color: black; }
  .main-splide:hover .splide__arrows .splide__arrow {
    display: block; }

.thumbnail-splide .splide__track .splide__list .splide__slide {
  padding: .1rem;
  border: .2rem solid transparent;
  opacity: 0.85; }
  .thumbnail-splide .splide__track .splide__list .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px; }

.thumbnail-splide .splide__track .splide__list .is-active {
  border: 0.2rem solid #939778;
  border-radius: 4px;
  opacity: 1; }

.banner {
  background-color: #939778;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .banner__content {
    display: flex;
    align-items: center;
    justify-content: center; }
  .banner__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin-right: 1rem; }
  .banner__icons {
    width: 7.8em;
    display: inline-flex;
    justify-content: space-between; }
    .banner__icons svg {
      fill: white;
      fill-opacity: 0.8; }
      .banner__icons svg:hover {
        fill-opacity: 0.9; }

.credits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh; }
  .credits__text {
    color: rgba(41, 40, 35, 0.6);
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -.03em; }
  .credits__links a {
    text-decoration: none;
    color: rgba(41, 40, 35, 0.6);
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -.03em;
    padding: 0rem 1rem; }
    .credits__links a:not(:first-child):not(:last-child) {
      border-left: 0.05em solid rgba(41, 40, 35, 0.176);
      border-right: 0.05em solid rgba(41, 40, 35, 0.176); }

.footer {
  background-color: #FFFEFF;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh; }
  .footer__boxes .box__content {
    padding: 7% 4% 7% 4%; }
  .footer__boxes .box:first-child .box__content {
    padding-left: 0; }
  .footer__boxes .box:last-child .box__content {
    padding-right: 0; }
  .footer__social-icons {
    display: inline-flex;
    justify-content: space-between;
    width: 11rem;
    margin-top: -1.6rem;
    margin-bottom: .8rem; }
    .footer__social-icons svg {
      fill-opacity: 1; }
      .footer__social-icons svg:hover {
        fill-opacity: 0.8; }
  .footer__social-icons-text {
    color: rgba(41, 40, 35, 0.8);
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4em;
    width: 80%; }

.grid-1-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; }
  .grid-1-4 .right-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.2rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem; }

.navbar {
  height: 6.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); }
  .navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -.2rem;
    transition: all .2s; }
    .navbar__logo:hover {
      transform: scale(1.02) translateY(-0.15rem); }
  .navbar__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    text-align: right; }
  .navbar__list:hover > .navbar__item:not(:hover) {
    opacity: 0.95; }
  .navbar__item {
    display: inline-block; }
    .navbar__item:not(:last-child) {
      margin-right: .2rem; }
  .navbar__link {
    transition: all .2s; }
    .navbar__link:link, .navbar__link:visited {
      display: inline-block;
      padding: .4rem .7rem;
      text-decoration: none;
      white-space: nowrap;
      color: rgba(42, 44, 31, 0.949);
      font-family: "Noto Sans Display", "Noto Sans", sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: -.01em; }
    .navbar__link:hover, .navbar__link:active {
      color: #b55630;
      transform: scale(1.03) translateY(-0.08rem); }
  .navbar__buttons {
    margin-left: 1.8rem; }
    .navbar__buttons button:not(:first-child) {
      margin-left: .5rem; }

.navigation-small__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 5000; }

.navigation-small__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-image: radial-gradient(#df9f86, #c95f35);
  z-index: 4000; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(41, 40, 35, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFEFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform .3s .1s; }
  .popup__close {
    position: absolute;
    padding: .8rem;
    right: 0;
    top: 0;
    opacity: 0.1;
    transition: opacity .2s; }
    .popup__close:hover {
      cursor: pointer;
      opacity: 1; }
  .popup__close-icon {
    font-size: 2rem; }
  .popup--open {
    opacity: 1;
    visibility: visible; }
    .popup--open > * {
      transform: translate(-50%, -50%) scale(1); }

.contacts {
  margin-top: 5vh;
  margin-bottom: 5vh; }
  .contacts__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5vw; }

.agents {
  background-color: #FFFFFF;
  padding-top: 5vh;
  padding-bottom: 5vh; }
  .agents__intro {
    margin-bottom: 3vh; }
  .agents__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5vw;
    row-gap: 1.5vw; }

.values {
  margin-top: 5vh;
  margin-bottom: 10vh; }
  .values__intro {
    margin-bottom: 3vh; }
  .values__image {
    border-radius: 8px;
    overflow: hidden; }
    .values__image img {
      width: 100%;
      height: 100%; }
  .values__boxes [class^="right-area__"] {
    transition: transform .2s; }
  .values__boxes .right-area__top-left:hover {
    transform: scale(1.04) translate(-0.1rem, 0.1rem); }
  .values__boxes .right-area__top-right:hover {
    transform: scale(1.04) translate(0.1rem, 0.1rem); }
  .values__boxes .right-area__bottom-left:hover {
    transform: scale(1.04) translate(-0.1rem, -0.1rem); }
  .values__boxes .right-area__bottom-right:hover {
    transform: scale(1.04) translate(0.1rem, -0.1rem); }

.error-message {
  height: 60vh;
  text-align: center;
  position: relative; }
  .error-message__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 40%;
    max-width: 60%;
    background-color: #FFFEFF;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    padding: 5rem; }
  .error-message__heading {
    padding-bottom: 1rem; }
  .error-message__description {
    padding-bottom: 2.4rem; }

.hero {
  position: relative;
  height: calc(80vh - 3rem - 6.5rem); }
  .hero__image {
    height: 100%;
    background: url("../img/op1+.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center; }
  .hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -65%); }

.projects__intro-wrapper {
  height: calc(100vh - 3rem - 6.5rem - calc(80vh - 3rem - 6.5rem));
  position: relative; }

.projects__intro {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 3vh; }
  .projects__intro a {
    text-decoration: none; }
  .projects__intro div {
    max-width: 23rem; }

.projects__cards {
  height: 70vh;
  padding-bottom: 3vh;
  margin-bottom: 6vh; }

.about-company {
  height: calc(100vh - 6.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about-company__intro {
    text-align: center;
    margin-bottom: 6vh; }
    .about-company__intro div {
      width: 60%;
      margin: 0 auto; }
  .about-company__boxes {
    margin-bottom: 12vh; }

.item__intro {
  margin-top: 3vh;
  margin-bottom: 2.1vh; }

.item__visual-info {
  margin-bottom: 4.2vh; }

.item__mini-map {
  background-color: #c27996ad;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); }

.item__photo-wrapper {
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer; }
  .item__photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.item__text-info {
  display: grid;
  grid-template-columns: calc(100% - calc((100% - 2rem * 2) / 3) - 2rem) calc((100% - 2rem * 2) / 3);
  gap: 2rem;
  margin-bottom: 6vh; }

.item__description {
  background-color: #FFFEFF;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 2rem 4rem 2rem 3rem; }
  .item__description .description-box__heading {
    margin-bottom: 1rem; }
  .item__description .description-box__p {
    margin-bottom: .7rem; }
  .item__description .description-box__l {
    margin-bottom: .7rem;
    padding-left: 2.4rem;
    list-style-type: disc; }

.item__sidebar {
  background-color: #FFFEFF;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 2.5rem 4rem 2rem 4.2rem; }

.suggestions {
  margin-bottom: 6vh; }
  .suggestions__cards {
    overflow: hidden; }
    .suggestions__cards .scrolling-wrapper {
      padding-top: 3vh;
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .suggestions__cards .scrolling-wrapper__grid {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((min(100vw - 60px * 2, 1160px) - 2rem * 2)/3);
        grid-template-rows: 25rem;
        gap: 2rem;
        overflow: visible; }
    .suggestions__cards .scrolling-controls {
      display: flex;
      justify-content: right;
      align-items: center;
      margin-top: 3vh; }
      .suggestions__cards .scrolling-controls svg {
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
      .suggestions__cards .scrolling-controls #arrow-right {
        margin-left: 3rem; }

.moveleft {
  transform: translateX(calc(-1 * (min(100vw - 60px * 2, 1160px) + 2rem))); }

.moveleft-2 {
  transform: translateX(calc(-2 * (min(100vw - 60px * 2, 1160px) + 2rem))); }

.map {
  margin: 3vh; }
  .map__content {
    background-color: #88121220;
    width: 100%;
    height: 75vh;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); }

.search-hero {
  display: flex;
  height: 60vh; }
  .search-hero__form {
    width: 50%;
    padding: 5% 10% 10% 10%;
    position: relative; }
  .search-hero .decorative {
    position: static; }
  .search-hero__right {
    width: 50%; }
  .search-hero__image {
    height: 100%;
    background-image: url("../img/form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

.search-results {
  margin-bottom: 5vh; }
  .search-results__intro {
    margin-bottom: 3vh; }
