@charset "UTF-8";
/* VARIABLES =====================================================*/
/* Colors --------------------------------------------------------*/
/* Fonts---------------------------------------------------------*/
/* Borders ---------------------------------------------------------*/
/* Shadows ---------------------------------------------------------*/
/* Grid ------------------------------------------------------------*/
/* Section Gaps ----------------------------------------------------*/
/* Transitions -----------------------------------------------------*/
/* FONT STYLES =====================================================*/
.nice-h1 {
  color: rgba(255, 255, 255, 0.9019607843);
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
}
.nice-h1-p {
  color: rgba(255, 255, 255, 0.9019607843);
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.nice-h2 {
  color: #292823;
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
}
.nice-h2-p {
  color: rgba(41, 40, 35, 0.9254901961);
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.nice-h3 {
  color: #292823;
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.03em;
}
.nice-h3-p {
  color: rgba(41, 40, 35, 0.8);
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.nice-h3-l {
  color: rgba(41, 40, 35, 0.8);
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1.2em;
}

.nice-h4 {
  color: #292823;
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.nice-h4-p {
  color: rgba(41, 40, 35, 0.8);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}
.nice-h4-l {
  color: rgba(41, 40, 35, 0.5019607843);
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 16px;
}
.nice-h4-l--accent {
  color: #cf6f49;
}

/* USER CONTROL ELEMENTS STYLES ====================================*/
a {
  text-decoration: none;
}

.nice-bt {
  background-color: #939778;
  min-height: 44px;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9019607843);
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  transition: border-color 200ms ease, background-color 200ms cubic-bezier(0.77, 0, 0.175, 1);
}
.nice-bt:hover {
  background-color: #797c60;
}
.nice-bt--transparent {
  background: none;
  border: 1px solid #E7E8E3;
  color: rgba(42, 44, 31, 0.9490196078);
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.nice-bt--accent {
  background-color: #cf6f49;
}
.nice-bt--accent:hover {
  background-color: #b55630;
}

.nice-input {
  background: none;
  min-height: 44px;
  border: 1px solid #E7E8E3;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: rgba(42, 44, 31, 0.9490196078);
  padding-left: 1em;
  padding-right: 1em;
}
.nice-input::placeholder {
  color: rgba(42, 44, 31, 0.7490196078);
}
.nice-input:focus {
  outline: #939778 solid 1px;
}

/* DECORATIVE ELEMENTS ====================================*/
.decorative {
  position: relative;
}
.decorative img {
  min-width: 50px;
  max-width: 10vw;
  max-height: 20vh;
}
.decorative--top-left {
  position: absolute;
  left: 0px;
  top: 0px;
}
.decorative--bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.decorative--top-right {
  position: absolute;
  right: 0px;
  top: 0px;
}
.decorative--bottom-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* PAGE SPACING ====================================================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.padding {
  padding-left: 60px;
  padding-right: 60px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

.hero {
  height: 60vh;
  margin-bottom: 5vh;
}

.projects {
  margin-bottom: 6.5vh;
}

.about {
  padding-top: 10vh;
  margin-bottom: 20vh;
}

/* STYLES INDEX ======================================================*/
/* Body ---------------------------------------------------------*/
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #F6F4F5;
}

/* Header ---------------------------------------------------------*/
header {
  background-color: #939778;
  padding-top: 7px;
  padding-bottom: 7px;
}

.header {
  display: flex;
  justify-content: center;
}
.header__text {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 20px;
  margin-right: 10px;
}
.header__icons {
  width: 80px;
  display: inline-flex;
  justify-content: space-between;
}
.header__icons svg {
  fill: white;
  fill-opacity: 0.8;
}
.header__icons svg:hover {
  fill-opacity: 0.9;
}

/* Navigation bar ---------------------------------------------------------*/
nav {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar__logo {
  margin-top: 1px;
}
.navbar__links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}
.navbar__links__simple {
  margin-top: 13px;
}
.navbar__links__simple a {
  color: rgba(42, 44, 31, 0.9490196078);
  font-family: "Noto Sans Display", "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  white-space: nowrap;
  padding: 7px;
  margin: 3px;
}
.navbar__links__simple a:last-child {
  margin-right: 0px;
  padding-right: 0px;
}
.navbar__links__buttons {
  margin-left: 20px;
}
.navbar__links__buttons .nice-bt--transparent {
  position: relative;
}
.navbar__links__buttons .nice-bt--transparent svg {
  position: absolute;
  top: 10px;
}
.navbar__links__buttons .nice-bt--transparent span {
  margin-left: 22px;
}
.navbar__links__buttons .nice-bt--transparent:hover {
  background-color: whitesmoke;
}
.navbar__links__buttons .nice-bt--accent {
  margin-left: 2px;
}

/* Hero section ---------------------------------------------------------*/
.hero {
  background: url("../img/op1+.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero__content {
  margin: 0 auto;
  text-align: center;
}
.hero__content h1 {
  padding-top: 20vh;
}

/* Projects section ---------------------------------------------------------*/
.projects__intro {
  padding-bottom: 5vh;
}
.projects__intro .nice-h2-p {
  max-width: 230px;
}
.projects__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5vw;
  row-gap: 1.5vw;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  height: 40vh;
  overflow: hidden;
  position: relative;
}
.card__image {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 70%;
  background-image: url("../img/items/item-1/view_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card__image--item1 {
  background-image: url("../img/items/item-1/view_1.jpg");
}
.card__image--item2 {
  background-image: url("../img/items/item-2/view_1.jpg");
}
.card__image--item3 {
  background-image: url("../img/items/item-3/view_1.jpg");
}
.card__image--item4 {
  background-image: url("../img/items/item-4/view_1.jpg");
}
.card__image--item5 {
  background-image: url("../img/items/item-5/view_1.jpg");
}
.card__image--item6 {
  background-image: url("../img/items/item-6/view_1.jpg");
}
.card__description {
  position: absolute;
  bottom: 0px;
  height: 30%;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #FFFEFF;
  padding: 7% 4% 7% 5%;
}
.card__description__name {
  margin-bottom: 8px;
  margin-left: -1px;
}
.card__description__note {
  margin-bottom: 8px;
}
.card__description__address {
  margin-bottom: 8px;
  position: relative;
  margin-left: 18px;
}
.card__description__address svg {
  position: absolute;
  top: -1px;
  left: -15px;
}
.card__description__area {
  margin-bottom: 8px;
  position: relative;
  margin-left: 18px;
}
.card__description__area svg {
  position: absolute;
  top: 3px;
  left: -16px;
}
.card__description__area:after {
  content: "  m2";
}
.card__description__price {
  position: relative;
  margin-left: 18px;
}
.card__description__price svg {
  position: absolute;
  top: -1px;
  left: -14px;
}
.card__description__price:after {
  content: "  tỷ";
}
.card:hover .card__image {
  height: 40%;
}
.card:hover .card__description {
  height: 70%;
  cursor: pointer;
}

/* About company section ---------------------------------------------------------*/
.about__intro {
  text-align: center;
  padding-bottom: 5vh;
}
.about__intro div {
  width: 60%;
  margin: 0 auto;
}
.about__boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5vw;
  row-gap: 1.5vw;
}

.box {
  background-color: #FFFEFF;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 7% 4% 7% 5%;
  text-align: center;
}
.box__icon {
  background-color: #fae8e1;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 1.3em;
}
.box__icon span {
  color: #cf6f49;
  font-size: 32px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box__name {
  margin-bottom: 0.4em;
}
/* Footer ------------------------------------------------------*/
.footer {
  background-color: #FFFEFF;
}
.footer__boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.footer .sociallinks__icons {
  display: inline-flex;
  justify-content: space-between;
  width: 110px;
  padding-bottom: 14px;
}
.footer .sociallinks__icons svg {
  fill-opacity: 1;
}
.footer .sociallinks__icons svg:hover {
  fill-opacity: 0.8;
}
.footer .sociallinks__text {
  color: rgba(41, 40, 35, 0.8);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4em;
  width: 80%;
}
.footer .subscription__title {
  color: rgba(41, 40, 35, 0.8);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 7px;
}
.footer .subscription__conditions {
  color: rgba(41, 40, 35, 0.8);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: -0.03em;
  width: 80%;
  padding-bottom: 14px;
}
.footer .subscription__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.footer .subscription__form input {
  flex: 1 1 auto;
}
.footer .subscription__form button {
  margin-left: 5px;
}

.credits {
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.credits__text {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: rgba(41, 40, 35, 0.6);
}
.credits__links a {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: rgba(41, 40, 35, 0.6);
  padding: 0px 10px;
}
.credits__links a:not(:first-child):not(:last-child) {
  border-left: 0.05em solid rgba(41, 40, 35, 0.1764705882);
  border-right: 0.05em solid rgba(41, 40, 35, 0.1764705882);
}

/* STYLES FOR ITEM PAGE ======================================================*/
/* About item section ---------------------------------------------------*/
.about-item {
  margin-top: 2vh;
  margin-bottom: 5vh;
}
.about-item__grid {
  display: grid;
  gap: 1.9vw;
}
.about-item__grid--row1 {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.33vw;
}
.about-item__grid--row1 .column1 {
  height: 60vh;
  border-radius: 8px;
}
.about-item__grid--row1 .map {
  background-color: blue;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.about-item__grid--row1 .photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.95vw;
}
.about-item__grid--row1 .photos .image-box {
  background-color: blue;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.about-item__grid--row1 .photos .image-box--img1 {
  background-image: url("../img/items/item-1/view_1.jpg");
}
.about-item__grid--row1 .photos .image-box--img2 {
  background-image: url("../img/items/item-1/view_2.jpg");
}
.about-item__grid--row1 .photos .image-box--img3 {
  background-image: url("../img/items/item-1/view_3.jpg");
}
.about-item__grid--row1 .photos .image-box--img4 {
  background-image: url("../img/items/item-1/view_4.jpg");
}
.about-item__grid--row2 {
  grid-template-columns: 2fr 1fr;
}
.about-item__grid--row2 .column1 {
  min-height: 25vh;
}
.about-item__grid--row2 .description {
  background-color: #FFFEFF;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 20px 40px 20px 30px;
}
.about-item__grid--row2 .description .heading {
  margin-bottom: 0.7em;
}
.about-item__grid--row2 .description .par {
  margin-bottom: 0.4em;
}
.about-item__grid--row2 .description .list {
  padding-left: 2em;
  margin-bottom: 0.4em;
  list-style-position: outside;
  text-align: left;
  list-style-type: disc;
}
.about-item__grid--row2 .sidebar {
  background-color: #FFFEFF;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 35px 40px 20px 50px;
}
.about-item__grid--row2 .sidebar .parameters-table {
  display: flex;
  flex-direction: column;
}
.about-item__grid--row2 .sidebar .parameters-table .row {
  padding-bottom: 12px;
  position: relative;
}
.about-item__grid--row2 .sidebar .parameters-table svg {
  position: absolute;
}
.about-item__grid--row2 .sidebar .parameters-table svg path {
  fill: #383a2d;
  fill-opacity: 0.5;
}
.about-item__grid--row2 .sidebar .parameters-table__address svg {
  left: -1.4em;
  top: 0.4em;
}
.about-item__grid--row2 .sidebar .parameters-table__area svg {
  left: -1.45em;
  top: 0.2em;
}
.about-item__grid--row2 .sidebar .parameters-table__size .height {
  display: inline-block;
  padding-right: 20px;
}
.about-item__grid--row2 .sidebar .parameters-table__size .height svg {
  left: -1.45em;
  top: 0.2em;
}
.about-item__grid--row2 .sidebar .parameters-table__size .width {
  display: inline-block;
  position: relative;
}
.about-item__grid--row2 .sidebar .parameters-table__size .width svg {
  left: -1.1em;
  top: 0.25em;
}
.about-item__grid--row2 .sidebar .parameters-table__papers svg {
  left: -1.45em;
  top: 0.2em;
}
.about-item__grid--row2 .sidebar .parameters-table__direction svg {
  left: -1.45em;
  top: 0.2em;
}
.about-item__grid--row2 .sidebar .parameters-table__price svg {
  left: -1.45em;
  top: 0.2em;
}
.about-item__grid--row2 .sidebar .parameters-table__price svg path {
  fill: #cf6f49;
}
.about-item__grid--row2 .sidebar .parameters-table__link {
  margin-top: 12px;
}
.about-item__grid--row2 .sidebar .parameters-table__link svg {
  left: 6.5em;
  top: 0.2em;
}
.about-item__grid--row2 .sidebar .parameters-table__link svg path {
  fill: #cf6f49;
  fill-opacity: 0.8;
}

/* Suggestion cards section ------------------------------------------------*/
.suggestions {
  margin-bottom: 5vh;
}
.suggestions__cards {
  overflow: hidden;
}
.suggestions__cards .scrolling-wrapper {
  padding-top: 5vh;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.suggestions__cards .scrolling-wrapper__content .scrolling-wrapper-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(min(100vw - 120px, 1160px) / 3 - 1.2666666667vw);
  gap: 1.9vw;
  overflow: visible;
}
.suggestions__cards .scrolling-controls {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 5vh;
}
.suggestions__cards .scrolling-controls svg {
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.suggestions__cards .scrolling-controls #arrow-right {
  margin-left: 30px;
}

.start {
  margin-left: 0%;
  width: 100%;
}

.moveleft {
  margin-left: calc(0px - min(100vw - 120px, 1160px) - 1.9vw);
}

.moveleft-2 {
  margin-left: calc(0px - min(100vw - 120px, 1160px) * 2 - 3.8vw);
}

.card-test {
  background-color: yellow;
  height: 100px;
}

/* STYLES FOR MAP PAGE ======================================================*/
.map {
  margin: 2.5vh;
}
.map__content {
  background-color: rgba(136, 18, 18, 0.1254901961);
  width: 100%;
  height: 75vh;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

/* STYLES FOR ERROR PAGE ======================================================*/
.error {
  padding-top: max(30px, 20vh);
  padding-bottom: max(30px, 20vh);
  text-align: center;
}
.error .messsage-box {
  margin: 0 auto;
  background-color: #FFFEFF;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  width: min(35vw, 600px);
  padding: 50px;
}
.error .messsage-box .heading {
  padding-bottom: 10px;
}
.error .messsage-box .message-text {
  padding-bottom: 24px;
}/*# sourceMappingURL=style.css.map */