.decorative
    position: relative
    img
        min-width: 50px // TODO allign responsively
        max-width: 10vw // TODO allign responsively
        max-height: 20vh // TODO allign responsively
    &__top-left
        position: absolute
        left: 0
        top: 0 // TODO allign responsively -> with transform?
    &__bottom-right
        position: absolute
        right: 0
        bottom: 0 // TODO allign responsively -> with transform?
    &__top-right
        position: absolute
        right: 0
        top: 0 // TODO allign responsively -> with transform?
    &__bottom-left
        position: absolute
        left: 0
        bottom: 0 // TODO allign responsively -> with transform?