.banner
    background-color: $color-banner-bg
    &__content
        padding-top: 0.7rem
        padding-bottom: 0.7rem
        display: flex
        justify-content: center
    &__text
        color: $color-banner-text
        font-size: 1.4rem
        font-weight: 400
        letter-spacing: -0.05em
        line-height: 2rem
        margin-right: 1rem
    &__icons
        width: 8rem
        display: inline-flex
        justify-content: space-between
        svg
            fill: white
            fill-opacity: 0.8
            &:hover
                fill-opacity: 0.9