.grid-1-4
    display: grid
    grid-template-columns: 1fr 1fr
    gap: $gutter-columns--medium
    .left-area
    .right-area
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr
        gap: $gutter-columns--small // todo adjust
